.project {
  display: flex;
  flex-direction: column;
  place-self: baseline;
  padding: var(--space-20);
  gap: var(--space-20);
  margin-bottom: var(--space-16);

  &__tenant {
    display: flex;
    gap: var(--space-20);

    > Button {
      width: 50px;
    }
  }

  &__fields {
    background: var(--gray) !important;
    color: var(--white) !important;
    border: 0;

    .anticon svg {
      color: var(--white);
    }
  }
}
