:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  min-height: 100dvh;
}

.not-found {
  font-size: var(--font-heading-lg-size);
  display: flex;
  align-items: center;
  position: absolute;
  color: var(--pallete-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canva {
  width: 100dvw;
  display: flex;
  place-content: center;
  background: var(--black);
  color: var(--white);
  font-family: var(--font-family);

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

.sidebar {
  position: relative;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  width: 30dvw;
  padding: var(--space-20);
  background: var(--gray);

  > Button {
    position: absolute;
    top: var(--space-16);
    right: var(--space-16);
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: var(--border-10);
    background: 0;
    color: var(--white);
    border: none;
  }

  &--closed {
    display: flex;
    margin-top: var(--space-8);
    margin-left: var(--space-8);

    > Button {
      width: 44px;
      height: 44px;
      padding: 0;
      border-radius: var(--border-10);
      background: 0;
      color: var(--white);
      border: none;
    }
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--space-24);

  .ant-tabs-tab {
    background: var(--gray) !important;
  }
  .ant-tabs-tab-active {
    background: var(--black) !important;
    border-bottom: 0 !important;
  }
  .ant-tabs-tab-btn {
    color: var(--white) !important;
  }

  .ant-select-placeholder,
  .ant-input::placeholder {
    color: var(--placeholder);
  }

  .data {
    padding: var(--space-12);

    p {
      color: var(--white);
    }

    &__select {
      margin-bottom: var(--space-20);
    }

    &__alarm {
      display: flex;
      gap: var(--space-20);

      > Button {
        background: var(--red-02) !important;
        width: 50px;

        &:hover {
          background: var(--red-03) !important;
        }
      }
    }

    &__loop {
      display: flex;
      margin-top: var(--space-12);
      gap: var(--space-20);
    }

    &__fields {
      background: var(--gray) !important;
      color: var(--white) !important;
      border: 0;
    }
  }

  .checkbox {
    margin-top: var(--space-20);

    .ant-checkbox {
      background: var(--gray);
      box-shadow: var(--white-shadow);
    }

    .ant-checkbox-checked {
      background: var(--blue-02);
    }

    &__label {
      color: var(--white);
      display: flex;
      place-items: center;
      place-self: center;
      gap: var(--space-4);
    }
  }

  Button {
    background: var(--gray) !important;
    color: var(--white) !important;
    box-shadow: var(--white-shadow) !important;

    &:hover {
      background: var(--white-hover) !important;
    }
  }
}
